{#
/**
 * @file
 * Template file.
 *
 * Available variables:
 *
 * usd
 * eur
*/
#}

{{ attach_library('rcr/rcr-styling') }}

<p><span class="rcr-curr-name">{{ 'USD'|t }}</span><span class="rcr-curr-rate">{{ usd }} {{ symbol }}</span></p>
<p><span class="rcr-curr-name">{{ 'EUR'|t }}</span><span class="rcr-curr-rate">{{ eur }} {{ symbol }}</span></p>
